<div class="container mt-4">
  <div class="row">
    <div class="col-sm-8">
      <div class="card" style="background-color:whitesmoke">
        <div class="card-header">
          <h3>Create contact</h3>
        </div>
        <div class="card-body">
          <form #createForm="ngForm" (ngSubmit)="createContact()" id="createForm" class="mt-4">
            <label>Name</label>
            <input type="text" class="form-control" name="name" rows="6" [(ngModel)]="contact.name">
            <label class="mt-4">Date of birth</label>
            <input type="text" class="form-control" name="dateOfBirth" rows="6" [(ngModel)]="contact.dateOfBirth"
              bsDatepicker [bsConfig]="bsConfig"
              value="{{createForm.controls['dateOfBirth'].value | date: 'MM/dd/yyyy'}}">
            <label class="mt-4">Address</label>
            <input type="text" class="form-control" name="address" rows="6" [(ngModel)]="contact.address">
            <label class="mt-4">Phone numbers</label>
            <div *ngFor="let phoneNumber of contact.phoneNumbers">
              <label class="m-3">
                <i class="fa fa-phone mr-2"></i><strong>{{phoneNumber.number}}</strong>
              </label>
              <button class="btn btn-danger" (click)="removePhoneNumber(phoneNumber); $event.preventDefault()">
                Remove
              </button>
            </div>
            <div class="mt-3">
              <input type="text" style="width: 140px;display: inline;" class="form-control m-2" name="newPhoneNubmer"
                #newPhoneNubmer>
              <button class="btn btn-primary" style="width: 80px;margin-bottom: 5px;"
                (click)="addPhoneNumber(newPhoneNubmer.value); $event.preventDefault()">
                Add
              </button>
            </div>
            <div class="form-inline"></div>
          </form>
        </div>
        <div class="card-footer mt-4">
          <div class="btn-group d-flex">
            <button [disabled]="!createForm.dirty" class="btn btn-success w-100 mr-3" form="createForm">Create
              contact</button>
            <button class="btn btn-secondary w-100" type="button" [routerLink]="['/contacts']">Cancel</button>
          </div>
        </div>
      </div>
      <!-- <div *ngIf="createForm.dirty" class="alert alert-info">
        <strong>Information:</strong> You have unsaved changes.
      </div> -->
    </div>
  </div>
</div>
