<div class="container mt-4">
  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3>Contact info</h3>
          <div class="mt-3">
            <label class="mb-2"><strong>Name:</strong></label>
            <p>{{contact.name}}</p>
          </div>
          <div class="mt-3">
            <label class="mb-2"><strong>Date of birth:</strong></label>
            <p>{{contact.dateOfBirth | date: 'MM/dd/yyyy'}}</p>
          </div>
          <div class="mt-3">
            <label class="mb-2"><strong>Address:</strong></label>
            <p>{{contact.address}}</p>
          </div>
          <div class="mt-3">
            <label class="mb-2"><strong>Phone numbers:</strong></label>
            <div *ngFor="let phoneNumber of contact.phoneNumbers">
              <label class="m-3">
                <i class="fa fa-phone mr-2"></i><strong>{{phoneNumber.number}}</strong>
              </label>

            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-primary w-100 mr-3" [routerLink]="['/contacts/edit', contact.id]">Edit</button>
            <button class="btn btn-danger w-100" type="button" (click)="deleteContact(contact.id)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
