<div class="container mt-4">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <div>
            <strong>Name:</strong>
            <p>{{contact.name}}</p>
          </div>
          <div>
            <strong>Date of birth:</strong>
            <p>{{contact.dateOfBirth | date: 'MM/dd/yyyy'}}</p>
          </div>
          <div>
            <strong>Address:</strong>
            <p>{{contact.address}}</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-primary w-100 mr-3" [routerLink]=" ['/contacts/edit', contact.id]">Edit</button>
            <button class="btn btn-danger w-100" type="button" (click)="deleteContact(contact.id)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
